<.header class="p-4">
  NOLA Music Map
  <:actions>
    <.button phx-click="update_targets">Update</.button>
  </:actions>
</.header>

<input
      id="pac-input"
      class="controls"
      type="text"
      placeholder="Search Box"
    />
<div
  id="googleMap"
  class="w-full h-[600px] bg-slate-100 border-2"
  phx-hook="GMaps"
  phx-update="ignore"
  data-targets={Jason.encode!(@targets)}
>
</div>
